In [1]:
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.17.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.5.0)

In [2]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\austi\anaconda3\envs\pythondata\lib\site-packages (0.17.0)

In [3]:
import pandas as pd

In [4]:
#X_values_raw = pd.read_csv("../../ETL/output_file/state_X_values_proj3.csv")

#X_values_raw

df = pd.read_csv("../Resources/non_race_data.csv")
df

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,phys_inac_val,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,27.6,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,31.9,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,29.4,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,32.0,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,30.7,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2014,Wisconsin,US.WI,WI,43.784440,-88.787868,16.0,67161.0,23.82,2898057.0,...,23.8,6207.0,18.7,9.0,0.165,0.067,415.4,2.0,21.9,125.0
304,2015,Wisconsin,US.WI,WI,43.784440,-88.787868,11.0,67041.0,16.41,2903737.0,...,21.2,6365.0,17.4,8.2,0.146,0.046,411.6,1.9,19.6,125.3
305,2016,Wisconsin,US.WI,WI,43.784440,-88.787868,15.0,66615.0,22.52,2905282.0,...,21.6,6324.0,17.3,6.5,0.114,0.106,403.2,1.9,18.0,140.3
306,2017,Wisconsin,US.WI,WI,43.784440,-88.787868,12.0,64975.0,18.47,2912745.0,...,20.0,6437.0,17.1,5.5,0.201,0.072,423.5,1.9,16.2,145.2
307,2019,Wisconsin,US.WI,WI,43.784440,-88.787868,13.0,63270.0,20.55,2925225.0,...,21.8,6800.0,16.4,5.5,0.129,0.074,478.6,2.0,13.8,152.4

In [5]:
X = df.drop(columns=["year", "state", "id", "state_code", "latitude", "longitude", "deaths", "births", "maternal_mortality_ratio", "population", "employer", "non_group", "medicaid", "medicare", "military", "uninsured"]).values
X

array([[  9.5, 211.6, 330.1, ...,   1.2,  34.3, 103.5],
       [  9.1, 211.1, 332.9, ...,   1.1,  32. , 116.4],
       [  8.9, 210.6, 339.6, ...,   1.2,  30.1, 119.3],
       ...,
       [  7.9, 191.6, 236.8, ...,   1.9,  18. , 140.3],
       [  7.4, 191.7, 238.1, ...,   1.9,  16.2, 145.2],
       [  6.8, 190.4, 242.6, ...,   2. ,  13.8, 152.4]])

In [6]:
y = df['maternal_mortality_ratio'].values
y

array([20.11, 59.17, 69.56, 53.67, 59.71, 19.43, 17.54, 28.92, 26.87,
       27.62, 23.43, 29.58, 29.31, 29.73, 40.31, 50.24, 33.73, 25.83,
       46.94, 39.65, 59.72, 41.15, 44.42, 37.31, 62.13, 38.29, 20.3 ,
       16.07, 14.14, 16.08, 15.56, 17.5 , 17.08, 18.62, 19.08, 17.81,
       15.9 , 18.46, 24.31, 15.02, 24.02, 27.96, 23.86, 37.55, 31.23,
       32.07, 21.9 , 23.43, 30.03, 38.53, 28.18, 30.32, 22.22, 21.46,
       24.37, 31.36, 25.46, 28.37, 36.25, 30.7 , 63.69, 79.42, 74.58,
       56.14, 57.26, 49.14, 50.64, 43.11, 20.45, 17.55, 27.9 , 21.99,
       17.21, 20.18, 25.3 , 18.13, 26.11, 15.19, 14.27, 18.46, 16.68,
       51.37, 43.26, 42.12, 45.2 , 54.74, 60.17, 48.68, 28.17, 40.81,
       27.72, 30.45, 31.23, 31.4 , 27.06, 38.62, 28.91, 27.38, 36.73,
       30.47, 19.87, 34.12, 30.37, 52.3 , 32.88, 53.78, 39.57, 44.7 ,
       74.37, 62.02, 68.01, 88.64, 67.19, 36.9 , 44.11, 23.98, 35.23,
       32.83, 27.44, 20.85, 29.76, 21.73, 17.78, 34.9 , 23.92, 31.35,
       25.24, 19.8 , 21.7 , 28.99, 41.04, 28.95, 25.64, 31.72, 25.36,
       23.83, 35.3 , 21.54, 29.08, 31.51, 15.57, 19.  , 21.81, 15.91,
       14.31, 20.07, 26.24, 14.85, 16.66, 32.63, 29.97, 45.16, 38.79,
       33.65, 36.91, 32.12, 40.54, 60.05, 22.81, 15.63, 22.33, 45.07,
       39.84, 45.12, 43.96, 36.14, 38.34, 32.76, 22.18, 30.76, 33.54,
       28.06, 45.33, 34.54, 55.57, 53.24, 37.82, 41.89, 43.46, 34.58,
       36.15, 43.97, 42.08, 28.21, 27.42, 26.52, 24.07, 26.58, 25.55,
       26.97, 27.74, 20.46, 29.17, 34.76, 16.56,  8.17,  9.14,  8.35,
       12.6 , 28.1 , 36.41, 31.46, 29.14, 21.02, 38.74, 39.35, 28.75,
       25.38, 28.16, 21.59, 15.77, 29.44, 26.07, 30.69, 19.98, 34.95,
       51.33, 37.57, 38.26, 28.44, 37.47, 24.37, 26.35, 38.03, 43.81,
       34.14, 28.49, 22.15, 26.58, 27.5 , 26.63, 23.72, 16.06, 21.05,
       24.84, 24.6 , 22.69, 29.41, 29.04, 21.37, 29.05, 37.94, 30.85,
       33.11, 27.99, 29.93, 41.65, 34.4 , 48.83, 42.08, 28.23, 42.08,
       12.16, 49.77, 35.  , 29.41, 35.5 , 30.94, 48.14, 33.44, 37.29,
       31.59, 26.16, 34.71, 41.54, 43.37, 36.77, 38.9 , 38.44, 38.48,
       24.83, 23.57, 31.4 , 23.46, 25.6 , 20.58, 29.9 , 10.47, 17.53,
       13.59, 14.68, 17.42, 30.01, 45.87, 39.84, 23.04, 32.84, 13.44,
       12.71, 16.1 , 19.44, 23.1 , 22.58, 12.36, 13.26, 27.41, 24.39,
       36.52, 54.8 , 18.35, 17.52, 22.12, 18.  , 23.82, 16.41, 22.52,
       18.47, 20.55])

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [8]:
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [15]:
def baseline_model():
    model = Sequential()
    model.add(Dense(25, input_dim=25, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=100, verbose=False)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X_train_scaled, y_train, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -1181.98 (271.01) MSE

In [16]:
def baseline_model():
    model = Sequential()
    model.add(Dense(25, input_dim=25, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=100, verbose=False)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X_train, y_train, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -1273.59 (511.50) MSE

In [17]:
def baseline_model():
    model = Sequential()
    model.add(Dense(25, input_dim=25, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=100, verbose=False)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X, y, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -1105.71 (293.88) MSE

In [18]:
def baseline_model():
    model = Sequential()
    model.add(Dense(25, input_dim=25, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=100, verbose=False)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X, y, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -1939.76 (2192.03) MSE

In [19]:
def baseline_model():
    model = Sequential()
    model.add(Dense(25, input_dim=25, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=100, verbose=False)
kfold = KFold(n_splits=20)
results = cross_val_score(estimator, X, y, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -1143.01 (457.14) MSE