In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Resources/non_race_data.csv")

In [3]:
df.head()

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,phys_inac_val,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,27.6,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,31.9,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,29.4,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,32.0,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,30.7,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8

In [4]:
# Create the bins for grouping MMR data
  
bins = [0, 4.99, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 44.99, 49.99, 54.99, 59.99, 64.99, 69.99, 74.99, 79.99, 84.99, 89.99, 94.99, 100]

# Create the names for the bins
mmr_groups = ["<5", "5-9.99", "10-14.99", "15-19.99", "20-24.99", "25-29.99", "30-34.99", "35-39.99", 
               "40-44.99", "45-49.99", "50-54.99", "55-59.99", "60-64.99", "65-69.99", "70-74.99", "75-79.99", "80-84.99", "85-89.99", "90-94.99", "95+"]

In [5]:
df["mmr_group"] = pd.cut(df["maternal_mortality_ratio"], bins, labels=mmr_groups, include_lowest=True)
df

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val,mmr_group
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5,20-24.99
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4,55-59.99
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3,65-69.99
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8,50-54.99
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8,55-59.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2014,Wisconsin,US.WI,WI,43.784440,-88.787868,16.0,67161.0,23.82,2898057.0,...,6207.0,18.7,9.0,0.165,0.067,415.4,2.0,21.9,125.0,20-24.99
304,2015,Wisconsin,US.WI,WI,43.784440,-88.787868,11.0,67041.0,16.41,2903737.0,...,6365.0,17.4,8.2,0.146,0.046,411.6,1.9,19.6,125.3,15-19.99
305,2016,Wisconsin,US.WI,WI,43.784440,-88.787868,15.0,66615.0,22.52,2905282.0,...,6324.0,17.3,6.5,0.114,0.106,403.2,1.9,18.0,140.3,20-24.99
306,2017,Wisconsin,US.WI,WI,43.784440,-88.787868,12.0,64975.0,18.47,2912745.0,...,6437.0,17.1,5.5,0.201,0.072,423.5,1.9,16.2,145.2,15-19.99
307,2019,Wisconsin,US.WI,WI,43.784440,-88.787868,13.0,63270.0,20.55,2925225.0,...,6800.0,16.4,5.5,0.129,0.074,478.6,2.0,13.8,152.4,20-24.99

In [6]:
X = df.drop(["year", "state", "id", "state_code", "latitude", "longitude", "deaths", "births", "maternal_mortality_ratio", "mmr_group"], axis=1)
y = df["mmr_group"]
print(X.shape, y.shape)

(308, 32) (308,)

In [7]:
# Split data into train and test groups
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [8]:
# Scale the data
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Logistic Regression

In [9]:
# Make logistic regression model
from sklearn.linear_model import LogisticRegression
LoR_model = LogisticRegression()
LoR_model.fit(X_train_scaled, y_train)

c:\users\soconnell\anaconda3\envs\pythondata\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
print(f"Training Data Score: {LoR_model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {LoR_model.score(X_test_scaled, y_test)}")

Training Data Score: 0.3722943722943723
Testing Data Score: 0.19480519480519481

In [14]:
predictions = LoR_model.predict(X_test_scaled)
print(f"First 10 Predictions:   {predictions[:20]}")
print(f"First 10 Actual labels: {y_test[:20].tolist()}")

First 10 Predictions:   ['15-19.99' '25-29.99' '30-34.99' '35-39.99' '35-39.99' '35-39.99'
 '25-29.99' '25-29.99' '35-39.99' '20-24.99' '25-29.99' '35-39.99'
 '15-19.99' '25-29.99' '20-24.99' '15-19.99' '25-29.99' '35-39.99'
 '35-39.99' '35-39.99']
First 10 Actual labels: ['10-14.99', '25-29.99', '25-29.99', '60-64.99', '35-39.99', '55-59.99', '30-34.99', '25-29.99', '25-29.99', '20-24.99', '15-19.99', '45-49.99', '10-14.99', '20-24.99', '35-39.99', '15-19.99', '15-19.99', '30-34.99', '40-44.99', '20-24.99']

# Random Forest

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=900)
rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model.score(X_test_scaled, y_test)

0.16883116883116883

In [12]:
feature_importances = pd.DataFrame(rf_model.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

In [13]:
feature_importances

                     importance
dentists_val           0.042195
phys_inac_val          0.040554
medicaid               0.038807
health_stat_fem_val    0.037563
population             0.036915
diabetes_val           0.035493
all_determs_val        0.035182
chlamydia_val          0.034262
drug_deaths_val        0.034170
child_pov_val          0.033411
prem_death_val         0.033386
income_ineq_val        0.032909
immun_child_val        0.032533
air_pollution_val      0.032359
dent_vis_val           0.030587
obesity_val            0.029811
cardio_death_val       0.029781
medicare               0.029307
primary_care_val       0.029126
infect_dis_val         0.028846
non_group              0.028678
smoking_val            0.028635
employer               0.028103
uninsured              0.027935
uninsured_val          0.027838
choles_check_val       0.027786
teen_birth_val         0.027709
cancer_death_val       0.027193
all_outcomes_val       0.026964
military               0.026922
infant_mort_val        0.025634
prem_death_ri_val      0.019407