In [1]:
import pandas as pd
from functools import reduce

path2009 = "../../Resources/2009-Annual.csv"
path2010 = "../../Resources/2010-Annual.csv"
path2011 = "../../Resources/2011-Annual.csv"
path2012 = "../../Resources/2012-Annual.csv"
path2013 = "../../Resources/2013-Annual.csv"
path2014 = "../../Resources/2014-Annual.csv"
path2015 = "../../Resources/2015-Annual.csv"
path2016 = "../../Resources/2016-Annual.csv"
path2017 = "../../Resources/2017-Annual.csv"
path2018 = "../../Resources/2018-Annual.csv"
path2019 = "../../Resources/2019-Annual.csv"

data2009 = pd.read_csv(path2009)
data2010 = pd.read_csv(path2010)
data2011 = pd.read_csv(path2011)
data2012 = pd.read_csv(path2012)
data2013 = pd.read_csv(path2013)
data2014 = pd.read_csv(path2014)
data2015 = pd.read_csv(path2015)
data2016 = pd.read_csv(path2016)
data2017 = pd.read_csv(path2017)
data2018 = pd.read_csv(path2018)
data2019 = pd.read_csv(path2019)

data2009.head()

,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,2009,2009 Annual,Air Pollution,Alabama,45.0,13.5,0.72,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2006-2008
1,2009,2009 Annual,Air Pollution,Alaska,5.0,6.9,-1.92,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2006-2008
2,2009,2009 Annual,Air Pollution,Arizona,22.0,10.5,-0.48,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2006-2008
3,2009,2009 Annual,Air Pollution,Arkansas,32.0,11.8,0.04,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2006-2008
4,2009,2009 Annual,Air Pollution,California,47.0,13.9,0.88,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2006-2008

In [2]:
data2009['Measure Name'].unique()

array(['Air Pollution', 'All Determinants', 'All Outcomes',
       'Binge Drinking', 'Cancer Deaths',
       'Cancer Deaths - American Indian/Alaska Native',
       'Cancer Deaths - Asian/Pacific Islander',
       'Cancer Deaths - Black/African American',
       'Cancer Deaths - Crude Rate', 'Cancer Deaths - Female',
       'Cancer Deaths - Hispanic/Latino', 'Cancer Deaths - Male',
       'Cancer Deaths - Standard Age Adjustment', 'Cancer Deaths - White',
       'Cardiovascular Deaths',
       'Cardiovascular Deaths - American Indian/Alaska Native',
       'Cardiovascular Deaths - Asian/Pacific Islander',
       'Cardiovascular Deaths - Black/African American',
       'Cardiovascular Deaths - Crude Rate',
       'Cardiovascular Deaths - Female',
       'Cardiovascular Deaths - Hispanic/Latino',
       'Cardiovascular Deaths - Male',
       'Cardiovascular Deaths - Standard Age Adjustment',
       'Cardiovascular Deaths - White', 'Children in Poverty',
       'Chlamydia', 'Cholesterol Check', 'Dental Visit, Annual',
       'Dentists', 'Diabetes', 'Diabetes - $25-$49,999',
       'Diabetes - $50-$74,999', 'Diabetes - $75,000 or More',
       'Diabetes - 18-44', 'Diabetes - 45-64', 'Diabetes - 65+',
       'Diabetes - American Indian', 'Diabetes - Asian',
       'Diabetes - Black', 'Diabetes - College Grad', 'Diabetes - Female',
       'Diabetes - Hawaiian PI', 'Diabetes - High School Grad',
       'Diabetes - Hispanic', 'Diabetes - Less Than $25,000',
       'Diabetes - Less Than HS', 'Diabetes - Male', 'Diabetes - Rural',
       'Diabetes - Some College', 'Diabetes - Suburban',
       'Diabetes - Urban', 'Diabetes - White', 'Diet, Fruit & Vegetables',
       'Disparity in Health Status - $75,000 or More',
       'Disparity in Health Status - Ages 45-64', 'Drug Deaths',
       'Drug Deaths - American Indian/Alaska Native',
       'Drug Deaths - Asian/Pacific Islander',
       'Drug Deaths - Black/African American', 'Drug Deaths - Female',
       'Drug Deaths - Hispanic/Latino', 'Drug Deaths - Male',
       'Drug Deaths - White', 'Drug Deaths (1-year)',
       'Drug Deaths (1-year) - Ages 15-24',
       'Drug Deaths (1-year) - Ages 25-34',
       'Drug Deaths (1-year) - Ages 35-44',
       'Drug Deaths (1-year) - Ages 45-54',
       'Drug Deaths (1-year) - Ages 55-64',
       'Drug Deaths (1-year) - Ages 65-74',
       'Drug Deaths (1-year) - American Indian/Alaska Native',
       'Drug Deaths (1-year) - Asian/Pacific Islander',
       'Drug Deaths (1-year) - Black/African American',
       'Drug Deaths (1-year) - Female', 'Drug Deaths (1-year) - Hispanic',
       'Drug Deaths (1-year) - Male', 'Drug Deaths (1-year) - White',
       'Early Prenatal Care', 'Geographic Disparity',
       'Health Status - $25-$49,999', 'Health Status - $50-$74,999',
       'Health Status - 18-44', 'Health Status - 65+',
       'Health Status - American Indian', 'Health Status - Asian',
       'Health Status - Black', 'Health Status - College Grad',
       'Health Status - Female', 'Health Status - Hawaiian PI',
       'Health Status - High School Grad', 'Health Status - Hispanic',
       'Health Status - Less Than $25,000',
       'Health Status - Less Than HS', 'Health Status - Male',
       'Health Status - Rural', 'Health Status - Some College',
       'Health Status - Suburban', 'Health Status - Urban',
       'Health Status - White', 'Heart Attack', 'Heart Disease',
       'High Blood Pressure', 'High Cholesterol', 'High Health Status',
       'High School Graduation', 'Immunizations - Children',
       'Income Inequality', 'Income Inequality - Gini Index',
       'Infant Mortality',
       'Infant Mortality - American Indian/Alaska Native',
       'Infant Mortality - Asian', 'Infant Mortality - Black',
       'Infant Mortality - Hispanic', 'Infant Mortality - White',
       'Infectious Disease', 'Low Birthweight',
       'Low Birthweight - American Indian/Alaska Native',
       'Low Birthweight - Asian/Pacific Islander',
       'Low Birthweight - Black/African American',
       'Low Birthweight - College Graduate',
       'Low Birthweight - High School Graduate',
       'Low Birthweight - Hispanic',
       'Low Birthweight - Less Than High School',
       'Low Birthweight - Mother Ages 15-19',
       'Low Birthweight - Mother Ages 20-24',
       'Low Birthweight - Mother Ages 25-29',
       'Low Birthweight - Mother Ages 30-34',
       'Low Birthweight - Mother Ages 35-39',
       'Low Birthweight - Mother Ages 40-44',
       'Low Birthweight - Some College', 'Low Birthweight - White',
       'Low Health Status', 'Median Household Income', 'Obesity',
       'Obesity - $25-$49,999', 'Obesity - $50-$74,999',
       'Obesity - $75,000 or More', 'Obesity - 18-44', 'Obesity - 45-64',
       'Obesity - 65+', 'Obesity - American Indian', 'Obesity - Asian',
       'Obesity - Black', 'Obesity - College Grad', 'Obesity - Female',
       'Obesity - Hawaiian PI', 'Obesity - High School Grad',
       'Obesity - Hispanic', 'Obesity - Less Than $25,000',
       'Obesity - Less Than HS', 'Obesity - Male', 'Obesity - Rural',
       'Obesity - Some College', 'Obesity - Suburban', 'Obesity - Urban',
       'Obesity - White', 'Occupational Fatalities', 'Overall',
       'Personal Income, Per Capita ', 'Physical Activity',
       'Physical Inactivity', 'Physical Inactivity - $25-$49,999',
       'Physical Inactivity - $50-$74,999',
       'Physical Inactivity - $75,000 or More',
       'Physical Inactivity - 18-44', 'Physical Inactivity - 45-64',
       'Physical Inactivity - 65+',
       'Physical Inactivity - American Indian',
       'Physical Inactivity - Asian', 'Physical Inactivity - Black',
       'Physical Inactivity - College Grad',
       'Physical Inactivity - Female',
       'Physical Inactivity - Hawaiian PI',
       'Physical Inactivity - High School Grad',
       'Physical Inactivity - Hispanic',
       'Physical Inactivity - Less Than $25,000',
       'Physical Inactivity - Less Than HS', 'Physical Inactivity - Male',
       'Physical Inactivity - Rural',
       'Physical Inactivity - Some College',
       'Physical Inactivity - Suburban', 'Physical Inactivity - Urban',
       'Physical Inactivity - White', 'Poor Mental Health Days',
       'Poor Physical Health Days', 'Premature Death',
       'Premature Death - American Indian/Alaska Native',
       'Premature Death - Asian/Pacific Islander',
       'Premature Death - Black', 'Premature Death - Hispanic',
       'Premature Death - White', 'Premature Death Racial Inequality',
       'Prenatal Care', 'Preterm Birth', 'Preventable Hospitalizations',
       'Primary Care Physicians', 'Public Health Funding', 'Smoking',
       'Smoking - $25-$49,999', 'Smoking - $50-$74,999',
       'Smoking - $75,000 or More', 'Smoking - 18-44', 'Smoking - 45-64',
       'Smoking - 65+', 'Smoking - American Indian', 'Smoking - Asian',
       'Smoking - Black', 'Smoking - College Grad', 'Smoking - Female',
       'Smoking - Hawaiian PI', 'Smoking - High School Grad',
       'Smoking - Hispanic', 'Smoking - Less Than $25,000',
       'Smoking - Less Than HS', 'Smoking - Male', 'Smoking - Rural',
       'Smoking - Some College', 'Smoking - Suburban', 'Smoking - Urban',
       'Smoking - White', 'Stroke', 'Teen Births',
       'Teen Births - American Indian or Alaska Native',
       'Teen Births - Asian or Pacific Islander',
       'Teen Births - Black/African American', 'Teen Births - Hispanic',
       'Teen Births - White', 'Underemployment Rate',
       'Unemployment Rate, Annual', 'Unemployment Rate, August',
       'Uninsured', 'Violent Crime', 'Voter Participation (Midterm)',
       'Voter Participation (Midterm) - Asian',
       'Voter Participation (Midterm) - Black',
       'Voter Participation (Midterm) - Hispanic',
       'Voter Participation (Midterm) - White',
       'Voter Participation (Presidential)',
       'Voter Participation (Presidential) - Asian',
       'Voter Participation (Presidential) - Black',
       'Voter Participation (Presidential) - Hispanic',
       'Voter Participation (Presidential) - White', 'Voter Registration'],
      dtype=object)

In [3]:
ap2009 = data2009.loc[(data2009['Measure Name'] == 'Air Pollution')]
ap2009 = ap2009[['Edition','State Name','Value']]
ap2009 = ap2009.rename(columns={'Value':'air_pollution_val'})
cancer2009 = data2009.loc[(data2009['Measure Name'] == 'Cancer Deaths')]
cancer2009 = cancer2009[['Edition','State Name','Value']]
cancer2009 = cancer2009.rename(columns={'Value':'cancer_death_val'})
cardio2009 = data2009.loc[(data2009['Measure Name'] == 'Cardiovascular Deaths')]
cardio2009 = cardio2009[['Edition','State Name','Value']]
cardio2009 = cardio2009.rename(columns={'Value':'cardio_death_val'})
childpov2009 = data2009.loc[(data2009['Measure Name'] == 'Children in Poverty')]
childpov2009 = childpov2009[['Edition','State Name','Value']]
childpov2009 = childpov2009.rename(columns={'Value':'child_pov_val'})
choles2009 = data2009.loc[(data2009['Measure Name'] == 'Cholesterol Check')]
choles2009 = choles2009[['Edition','State Name','Value']]
choles2009 = choles2009.rename(columns={'Value':'choles_check_val'})
dentvis2009 = data2009.loc[(data2009['Measure Name'] == 'Dental Visit, Annual')]
dentvis2009 = dentvis2009[['Edition','State Name','Value']]
dentvis2009 = dentvis2009.rename(columns={'Value':'dent_vis_val'})
dentnum2009 = data2009.loc[(data2009['Measure Name'] == 'Dentists')]
dentnum2009 = dentnum2009[['Edition','State Name','Value']]
dentnum2009 = dentnum2009.rename(columns={'Value':'dentists_val'})
diabetes2009 = data2009.loc[(data2009['Measure Name'] == 'Diabetes')]
diabetes2009 = diabetes2009[['Edition','State Name','Value']]
diabetes2009 = diabetes2009.rename(columns={'Value':'diabetes_val'})
drug2009 = data2009.loc[(data2009['Measure Name'] == 'Drug Deaths')]
drug2009 = drug2009[['Edition','State Name','Value']]
drug2009 = drug2009.rename(columns={'Value':'drug_deaths_val'})
healthstatfem2009 = data2009.loc[(data2009['Measure Name'] == 'Health Status - Female')]
healthstatfem2009 = healthstatfem2009[['Edition','State Name','Value']]
healthstatfem2009 = healthstatfem2009.rename(columns={'Value':'health_stat_fem_val'})
immunchild2009 = data2009.loc[(data2009['Measure Name'] == 'Immunizations - Children')]
immunchild2009 = immunchild2009[['Edition','State Name','Value']]
immunchild2009 = immunchild2009.rename(columns={'Value':'immun_child_val'})
incomeineq2009 = data2009.loc[(data2009['Measure Name'] == 'Income Inequality')]
incomeineq2009 = incomeineq2009[['Edition','State Name','Value']]
incomeineq2009 = incomeineq2009.rename(columns={'Value':'income_ineq_val'})
infantmort2009 = data2009.loc[(data2009['Measure Name'] == 'Infant Mortality')]
infantmort2009 = infantmort2009[['Edition','State Name','Value']]
infantmort2009 = infantmort2009.rename(columns={'Value':'infant_mort_val'})
infectdis2009 = data2009.loc[(data2009['Measure Name'] == 'Infectious Disease')]
infectdis2009 = infectdis2009[['Edition','State Name','Value']]
infectdis2009 = infectdis2009.rename(columns={'Value':'infect_dis_val'})
obesity2009 = data2009.loc[(data2009['Measure Name'] == 'Obesity')]
obesity2009 = obesity2009[['Edition','State Name','Value']]
obesity2009 = obesity2009.rename(columns={'Value':'obesity_val'})
physicalinac2009 = data2009.loc[(data2009['Measure Name'] == 'Physical Inactivity')]
physicalinac2009 = physicalinac2009[['Edition','State Name','Value']]
physicalinac2009 = physicalinac2009.rename(columns={'Value':'phys_inac_val'})
premdeath2009 = data2009.loc[(data2009['Measure Name'] == 'Premature Death')]
premdeath2009 = premdeath2009[['Edition','State Name','Value']]
premdeath2009 = premdeath2009.rename(columns={'Value':'prem_death_val'})
smoking2009 = data2009.loc[(data2009['Measure Name'] == 'Smoking')]
smoking2009 = smoking2009[['Edition','State Name','Value']]
smoking2009 = smoking2009.rename(columns={'Value':'smoking_val'})
uninsured2009 = data2009.loc[(data2009['Measure Name'] == 'Uninsured')]
uninsured2009 = uninsured2009[['Edition','State Name','Value']]
uninsured2009 = uninsured2009.rename(columns={'Value':'uninsured_val'})
uninsured2009.head()

       Edition  State Name  uninsured_val
12219     2009     Alabama           11.9
12220     2009      Alaska           19.0
12221     2009     Arizona           18.9
12222     2009    Arkansas           17.0
12223     2009  California           18.4

In [4]:
dfs_2009 = [ap2009, cancer2009, cardio2009, childpov2009, choles2009, dentvis2009, dentnum2009, diabetes2009, drug2009, healthstatfem2009, immunchild2009, incomeineq2009, infantmort2009, infectdis2009, obesity2009, physicalinac2009, premdeath2009, smoking2009, uninsured2009]
nan_value = 0
clean2009 = reduce(lambda  left,right: pd.merge(left,right,on=['Edition', 'State Name'],
                                           how='outer'), dfs_2009)

clean2009 = clean2009.drop_duplicates(subset=['State Name'])

clean2009

,Edition,State Name,air_pollution_val,cancer_death_val,cardio_death_val,child_pov_val,choles_check_val,dent_vis_val,dentists_val,diabetes_val,...,health_stat_fem_val,immun_child_val,income_ineq_val,infant_mort_val,infect_dis_val,obesity_val,phys_inac_val,prem_death_val,smoking_val,uninsured_val
0,2009,Alabama,13.5,211.3,347.9,23.7,77.7,65.0,41.4,11.2,...,46.5,76.3,4.99,9.5,15.7,32.2,29.5,10654.0,22.1,11.9
16,2009,Alaska,6.9,186.2,231.8,9.6,71.2,66.3,72.8,6.6,...,57.1,76.2,3.61,6.7,15.0,27.1,24.1,7814.0,21.5,19.0
32,2009,Arizona,10.5,168.4,228.1,26.2,71.9,68.2,51.0,7.7,...,54.8,79.2,4.30,6.6,16.6,25.6,23.2,7830.0,15.9,18.9
48,2009,Arkansas,11.8,213.1,327.4,20.8,70.3,63.5,38.6,9.5,...,48.1,78.0,4.69,8.1,13.4,29.5,29.7,9928.0,22.3,17.0
64,2009,California,13.9,173.9,270.0,20.2,74.7,70.3,75.9,8.5,...,51.4,80.6,4.86,5.1,22.9,24.3,23.3,6339.0,14.0,18.4
80,2009,Colorado,7.7,166.8,228.7,14.4,73.8,68.4,66.5,6.0,...,59.9,80.7,4.39,5.9,10.7,19.1,18.9,6216.0,17.6,16.1
96,2009,Connecticut,11.5,187.7,245.4,10.2,82.6,80.2,73.1,6.8,...,62.9,72.5,4.70,6.4,17.8,21.4,22.4,5942.0,15.9,9.7
112,2009,Delaware,13.9,206.7,281.7,13.6,80.6,76.8,44.2,8.2,...,57.3,73.0,4.11,7.9,23.7,27.8,24.1,8039.0,17.8,11.0
128,2009,Florida,9.0,182.7,240.8,18.3,78.5,69.0,49.4,9.5,...,52.1,81.8,4.47,7.1,33.9,25.2,25.9,8137.0,17.5,20.1
144,2009,Georgia,13.9,193.9,304.3,21.5,79.7,71.8,45.2,9.8,...,52.9,72.7,4.75,8.0,27.3,27.8,23.1,8421.0,19.5,17.7
160,2009,Hawaii,4.8,159.0,220.0,14.3,73.0,75.3,77.9,8.2,...,49.9,78.3,4.10,6.1,18.2,23.1,19.6,6429.0,15.4,7.7
176,2009,Idaho,7.5,176.9,250.9,17.2,66.7,69.4,58.8,7.0,...,57.9,65.9,3.79,6.8,4.4,25.2,21.1,6670.0,16.9,14.7
192,2009,Illinois,13.2,200.1,284.7,19.3,74.4,68.8,62.9,8.3,...,53.2,78.1,4.62,7.0,16.7,26.9,28.0,7076.0,21.3,13.1
208,2009,Indiana,13.2,208.4,300.5,23.3,73.6,68.3,45.8,9.5,...,49.2,78.4,4.24,7.8,9.3,27.0,27.7,8155.0,26.0,11.9
224,2009,Iowa,10.5,191.5,264.1,13.8,72.7,73.4,50.9,7.0,...,57.0,77.3,4.07,5.3,6.8,26.7,25.0,6092.0,18.8,9.4
240,2009,Kansas,9.9,192.5,270.9,17.1,72.3,71.9,49.0,8.1,...,55.8,78.2,4.13,7.5,7.9,28.1,25.5,7365.0,17.9,12.4
256,2009,Kentucky,13.1,227.0,322.3,24.4,75.5,64.3,55.1,9.8,...,46.8,76.8,5.06,7.1,11.2,30.3,30.5,9224.0,25.2,14.8
272,2009,Louisiana,11.3,220.1,334.8,23.3,75.3,69.8,46.6,10.6,...,47.1,83.0,5.14,9.5,27.9,29.0,29.8,11082.0,20.5,19.3
288,2009,Maine,9.4,210.4,250.1,17.1,81.3,71.4,49.1,8.2,...,60.5,76.2,4.31,6.3,7.1,25.9,22.8,6852.0,18.2,9.6
304,2009,Maryland,12.6,197.5,286.3,10.0,81.1,72.6,71.2,8.6,...,58.3,82.6,4.18,8.0,39.9,26.7,24.0,7784.0,14.9,12.9
320,2009,Massachusetts,9.6,195.5,237.8,17.1,84.6,79.3,76.0,7.1,...,62.0,83.9,4.97,4.8,14.5,21.5,22.1,5734.0,16.1,5.4
336,2009,Michigan,12.1,201.1,312.7,19.1,78.3,76.0,59.1,9.0,...,53.5,76.8,4.53,7.7,11.0,29.5,25.1,7558.0,20.5,11.7
352,2009,Minnesota,8.6,181.2,206.3,15.6,76.2,75.3,60.1,5.9,...,61.7,77.4,4.12,5.4,9.9,25.2,18.1,5500.0,17.6,8.5
368,2009,Mississippi,11.4,217.7,373.7,23.5,73.0,59.4,39.2,11.3,...,44.8,76.5,5.32,10.3,17.9,33.4,32.5,11485.0,22.7,18.3
384,2009,Missouri,11.9,206.3,309.0,18.7,74.1,62.6,45.6,9.1,...,52.6,76.0,4.36,7.4,11.3,29.1,27.6,8413.0,25.0,12.6
400,2009,Montana,7.7,190.7,240.6,19.3,71.4,65.9,53.7,6.4,...,56.0,65.5,4.19,6.1,4.9,24.3,23.1,7615.0,18.5,15.9
416,2009,Nebraska,8.0,187.3,248.5,16.2,73.8,71.3,62.2,7.7,...,56.7,74.8,4.04,6.2,8.9,27.2,24.6,6391.0,18.4,12.6
432,2009,Nevada,9.0,194.0,299.0,16.5,70.6,63.7,49.0,8.5,...,47.4,70.1,3.89,6.4,18.3,25.6,27.6,8424.0,22.2,18.0
448,2009,New Hampshire,8.8,196.2,246.1,8.6,80.9,76.7,61.8,7.2,...,62.2,85.0,4.05,5.7,6.4,24.9,21.5,5686.0,17.1,10.3
464,2009,New Jersey,12.8,194.3,271.2,13.8,81.4,75.9,80.0,8.4,...,54.1,72.8,4.54,5.3,23.1,23.6,26.9,6538.0,14.8,14.9
480,2009,New Mexico,6.5,170.1,237.8,25.9,69.5,65.9,43.7,7.8,...,47.7,79.1,4.77,6.0,9.6,25.7,23.9,8535.0,19.4,23.1
496,2009,New York,11.5,178.3,294.9,20.3,79.5,74.2,73.8,8.4,...,53.3,76.2,5.29,5.6,33.4,25.1,26.4,6156.0,16.8,13.6
512,2009,North Carolina,12.6,202.6,287.0,19.4,78.0,68.5,45.4,9.3,...,51.9,72.4,4.50,8.3,19.5,29.5,24.6,8356.0,20.9,15.9
528,2009,North Dakota,5.6,184.4,250.5,17.2,72.7,74.0,49.3,7.5,...,57.3,74.2,4.29,6.6,3.0,27.8,25.6,6529.0,18.1,10.9
544,2009,Ohio,13.4,210.2,301.8,21.0,74.3,72.1,50.8,9.9,...,54.1,82.9,4.48,7.7,9.9,29.3,26.0,7776.0,20.1,11.6
560,2009,Oklahoma,10.5,208.4,345.1,21.8,71.3,57.9,48.4,10.1,...,48.4,73.6,4.55,8.3,13.0,31.0,31.5,9605.0,24.7,15.9
576,2009,Oregon,8.1,194.4,246.3,14.3,71.0,71.4,66.6,6.9,...,58.0,72.3,4.45,5.6,11.2,25.0,19.0,6693.0,16.3,16.5
592,2009,Pennsylvania,13.9,203.7,288.7,15.4,77.4,71.0,59.0,8.8,...,52.4,80.4,4.62,7.6,17.8,28.4,25.7,7723.0,21.3,9.7
608,2009,Rhode Island,10.1,194.1,277.9,19.3,80.6,79.0,53.4,7.4,...,58.2,79.5,5.00,6.7,14.0,22.1,24.2,6256.0,17.4,11.3
624,2009,South Carolina,12.6,203.5,291.5,19.8,79.4,67.7,45.3,10.1,...,51.2,78.8,4.74,8.5,23.4,30.7,27.2,9513.0,20.0,16.1
640,2009,South Dakota,7.5,185.6,247.8,20.0,73.0,72.6,48.8,6.5,...,59.4,80.8,4.02,6.7,4.9,28.1,26.9,7074.0,17.5,11.3
656,2009,Tennessee,13.0,215.3,326.4,21.6,79.6,66.8,48.7,10.3,...,46.4,83.1,4.61,8.5,18.0,31.2,28.9,9638.0,23.1,14.7
672,2009,Texas,11.0,183.7,281.4,23.1,70.7,62.6,45.6,9.7,...,46.3,78.6,4.83,6.3,22.9,28.9,28.5,7485.0,18.5,25.1
688,2009,Utah,10.5,142.0,223.4,8.8,65.9,72.7,64.2,6.1,...,60.9,78.1,3.64,5.1,4.8,23.1,19.8,6209.0,9.3,13.0
704,2009,Vermont,8.1,189.7,241.1,9.8,76.5,75.4,56.3,6.4,...,62.6,74.4,4.00,5.3,4.3,23.3,19.4,6084.0,16.8,10.2
720,2009,Virginia,12.1,197.1,272.3,14.8,79.6,75.1,58.1,7.9,...,58.2,73.2,4.62,7.4,14.8,25.8,23.6,7000.0,16.4,13.6
736,2009,Washington,9.1,187.3,248.1,13.2,73.2,73.3,68.4,6.9,...,57.0,77.7,4.16,4.8,12.1,26.0,19.3,6062.0,15.7,11.8
752,2009,West Virginia,13.6,221.6,329.8,21.8,77.9,60.6,45.7,11.9,...,43.5,78.0,4.90,7.4,10.0,31.9,31.1,9790.0,26.5,14.6
768,2009,Wisconsin,11.3,192.7,258.3,13.1,76.5,73.2,51.8,7.2,...,57.1,83.6,3.94,6.4,5.8,26.1,22.0,6268.0,19.9,8.9
784,2009,Wyoming,5.3,184.3,258.1,12.8,73.4,67.9,49.5,7.3,...,56.3,67.6,3.96,7.2,4.1,25.2,24.4,8257.0,19.4,13.6
800,2009,United States,11.7,191.5,278.2,19.0,74.8,71.3,58.5,8.2,...,52.9,78.2,4.69,6.7,19.6,26.7,24.6,7442.0,18.4,15.3
816,2009,District of Columbia,11.7,211.1,330.8,29.0,85.0,72.5,93.8,7.9,...,61.7,78.6,6.60,12.2,152.8,22.3,21.2,NaN,16.2,9.8

In [4]:
clean2010 = data2010.loc[(data2010['Measure Name'] == 'Overall') | (data2010['Measure Name'] == 'All Determinants') | (data2010['Measure Name'] == 'Primary Care Physicians') | (data2010['Measure Name'] == 'Health Status - Female')]
clean2010 = clean2010.replace(to_replace='Health Status - Female', value='High Health Status - Female')
clean2010 = clean2010[['Edition','Measure Name','State Name','Rank','Value']]
clean2010 = clean2010.rename(columns={'Edition':'Year'})
clean2010.head()

    Year      Measure Name      State Name  Rank  Value
52  2010  All Determinants      New Mexico  34.0 -0.108
53  2010  All Determinants        New York  26.0  0.042
54  2010  All Determinants  North Carolina  35.0 -0.123
55  2010  All Determinants    North Dakota  11.0  0.365
56  2010  All Determinants            Ohio  30.0 -0.039

In [5]:
clean2011 = data2011.loc[(data2011['Measure Name'] == 'Overall') | (data2011['Measure Name'] == 'All Determinants') | (data2011['Measure Name'] == 'Primary Care Physicians') | (data2011['Measure Name'] == 'Health Status - Female')]
clean2011 = clean2011.replace(to_replace='Health Status - Female', value='High Health Status - Female')
clean2011 = clean2011[['Edition','Measure Name','State Name','Rank','Value']]
clean2011 = clean2011.rename(columns={'Edition':'Year'})
clean2011

       Year             Measure Name     State Name  Rank    Value
52     2011         All Determinants          Texas  49.0   -0.539
53     2011         All Determinants           Ohio  36.0   -0.190
54     2011         All Determinants        Vermont   1.0    0.904
55     2011         All Determinants  New Hampshire   3.0    0.723
56     2011         All Determinants   Rhode Island   9.0    0.397
...     ...                      ...            ...   ...      ...
10499  2011  Primary Care Physicians        Arizona  44.0   92.600
10500  2011  Primary Care Physicians        Indiana  36.0  102.500
10501  2011  Primary Care Physicians     California  22.0  119.000
10502  2011  Primary Care Physicians       Arkansas  41.0   99.500
10503  2011  Primary Care Physicians           Iowa  47.0   84.200

[208 rows x 5 columns]

In [6]:
clean2012 = data2012.loc[(data2012['Measure Name'] == 'Overall') | (data2012['Measure Name'] == 'All Determinants') | (data2012['Measure Name'] == 'Primary Care Physicians') | (data2012['Measure Name'] == 'High Health Status - Female')]
clean2012 = clean2012[['Edition','Measure Name','State Name','Rank','Value']]
clean2012 = clean2012.rename(columns={'Edition':'Year'})
clean2012.head()

    Year      Measure Name     State Name  Rank  Value
52  2012  All Determinants         Alaska  26.0  0.068
53  2012  All Determinants        Alabama  44.0 -0.389
54  2012  All Determinants  United States   NaN    NaN
55  2012  All Determinants       Arkansas  48.0 -0.586
56  2012  All Determinants        Arizona  29.0  0.006

In [7]:
clean2013 = data2013.loc[(data2013['Measure Name'] == 'Overall') | (data2013['Measure Name'] == 'All Determinants') | (data2013['Measure Name'] == 'Primary Care Physicians') | (data2013['Measure Name'] == 'High Health Status - Female')]
clean2013 = clean2013[['Edition','Measure Name','State Name','Rank','Value']]
clean2013 = clean2013.rename(columns={'Edition':'Year'})
clean2013.head()

    Year      Measure Name     State Name  Rank  Value
52  2013  All Determinants         Alaska  26.0  0.053
53  2013  All Determinants        Alabama  46.0 -0.449
54  2013  All Determinants  United States   NaN    NaN
55  2013  All Determinants       Arkansas  50.0 -0.627
56  2013  All Determinants        Arizona  29.0  0.002

In [8]:
clean2014 = data2014.loc[(data2014['Measure Name'] == 'Overall') | (data2014['Measure Name'] == 'All Determinants') | (data2014['Measure Name'] == 'Primary Care Physicians') | (data2014['Measure Name'] == 'High Health Status - Female')]
clean2014 = clean2014[['Edition','Measure Name','State Name','Rank','Value']]
clean2014 = clean2014.rename(columns={'Edition':'Year'})
clean2014.head()

    Year      Measure Name     State Name Rank  Value
52  2014  All Determinants         Alaska   29 -0.058
53  2014  All Determinants        Alabama   41 -0.335
54  2014  All Determinants  United States  NaN    NaN
55  2014  All Determinants       Arkansas   49 -0.655
56  2014  All Determinants        Arizona   28 -0.008

In [9]:
clean2015 = data2015.loc[(data2015['Measure Name'] == 'Overall') | (data2015['Measure Name'] == 'All Determinants') | (data2015['Measure Name'] == 'Primary Care Physicians') | (data2015['Measure Name'] == 'High Health Status - Female')]
clean2015 = clean2015[['Edition','Measure Name','State Name','Rank','Value']]
clean2015 = clean2015.rename(columns={'Edition':'Year'})
clean2015.head()

    Year      Measure Name     State Name  Rank  Value
52  2015  All Determinants         Alaska  30.0 -0.114
53  2015  All Determinants        Alabama  43.0 -0.371
54  2015  All Determinants  United States   NaN    NaN
55  2015  All Determinants       Arkansas  48.0 -0.584
56  2015  All Determinants        Arizona  32.0 -0.141

In [10]:
clean2016 = data2016.loc[(data2016['Measure Name'] == 'Overall') | (data2016['Measure Name'] == 'All Determinants') | (data2016['Measure Name'] == 'Primary Care Physicians') | (data2016['Measure Name'] == 'High Health Status - Female')]
clean2016 = clean2016[['Edition','Measure Name','State Name','Rank','Value']]
clean2016 = clean2016.rename(columns={'Edition':'Year'})
clean2016.head()

    Year      Measure Name  State Name  Rank  Value
52  2016  All Determinants      Alaska  33.0 -0.139
53  2016  All Determinants     Alabama  46.0 -0.427
54  2016  All Determinants    Arkansas  48.0 -0.506
55  2016  All Determinants     Arizona  30.0 -0.062
56  2016  All Determinants  California  16.0  0.277

In [11]:
clean2017 = data2017.loc[(data2017['Measure Name'] == 'Overall') | (data2017['Measure Name'] == 'All Determinants') | (data2017['Measure Name'] == 'Primary Care Physicians') | (data2017['Measure Name'] == 'High Health Status - Female')]
clean2017 = clean2017[['Edition','Measure Name','State Name','Rank','Value']]
clean2017 = clean2017.rename(columns={'Edition':'Year'})
clean2017.head()

    Year      Measure Name  State Name  Rank  Value
52  2017  All Determinants      Alaska  34.0 -0.190
53  2017  All Determinants     Alabama  47.0 -0.427
54  2017  All Determinants    Arkansas  48.0 -0.449
55  2017  All Determinants     Arizona  33.0 -0.157
56  2017  All Determinants  California  18.0  0.245

In [12]:
clean2018 = data2018.loc[(data2018['Measure Name'] == 'Overall') | (data2018['Measure Name'] == 'All Determinants') | (data2018['Measure Name'] == 'Primary Care Physicians') | (data2018['Measure Name'] == 'High Health Status - Female')]
clean2018 = clean2018[['Edition','Measure Name','State Name','Rank','Value']]
clean2018 = clean2018.rename(columns={'Edition':'Year'})
clean2018.head()

     Year      Measure Name  State Name  Rank  Value
156  2018  All Determinants      Alaska  35.0 -0.227
157  2018  All Determinants     Alabama  48.0 -0.483
158  2018  All Determinants    Arkansas  45.0 -0.361
159  2018  All Determinants     Arizona  33.0 -0.168
160  2018  All Determinants  California  15.0  0.312

In [13]:
clean2019 = data2019.loc[(data2019['Measure Name'] == 'Overall') | (data2019['Measure Name'] == 'All Determinants') | (data2019['Measure Name'] == 'Primary Care Physicians') | (data2019['Measure Name'] == 'High Health Status - Female')]
clean2019 = clean2019[['Edition','Measure Name','State Name','Rank','Value']]
clean2019 = clean2019.rename(columns={'Edition':'Year'})
clean2019.head()

     Year      Measure Name  State Name  Rank  Value
104  2019  All Determinants      Alaska  29.0 -0.027
105  2019  All Determinants     Alabama  46.0 -0.437
106  2019  All Determinants    Arkansas  48.0 -0.478
107  2019  All Determinants     Arizona  34.0 -0.187
108  2019  All Determinants  California  16.0  0.272

In [14]:
cleanRankings = pd.concat([clean2009, clean2010, clean2011, clean2012, clean2013, clean2014, clean2015, clean2016, clean2017, clean2018, clean2019])
cleanRankings = cleanRankings.rename(columns={'index': 'id'})
cleanRankings = cleanRankings.rename(columns={'Year':'year','Measure Name':'measure_name','State Name':'state','Rank':'rank','Value':'value'})
cleanRankings.head()

    year      measure_name       state rank  value
52  2009  All Determinants      Alaska   34 -0.121
53  2009  All Determinants     Arizona   27 -0.037
54  2009  All Determinants    Arkansas   41 -0.264
55  2009  All Determinants  California   24  0.134
56  2009  All Determinants     Alabama   43 -0.306

In [16]:
cleanRankings.reset_index(drop=True, inplace=True)
cleanRankings.head()

   year      measure_name       state rank  value
0  2009  All Determinants      Alaska   34 -0.121
1  2009  All Determinants     Arizona   27 -0.037
2  2009  All Determinants    Arkansas   41 -0.264
3  2009  All Determinants  California   24  0.134
4  2009  All Determinants     Alabama   43 -0.306

In [17]:
cleanRankings.to_csv('../output_file/state_health_rankings.csv',index=False)