# Combined Insurance Dataset with MMR by Race from 2009 to 2019
****

### Importing Dependencies

In [1]:
# Importing dependencies:
import numpy as np
import pandas as pd

### Store CSV Into DataFrame

In [2]:
# Reading the csv file into a pandas DataFrame
US_Ins = pd.read_csv('../output_file/2009_2019_Updated_US_ins_cleaned.csv')
US_Ins.head()

,location,year,employer,non_group,medicaid,medicare,military,uninsured,total
0,Alabama,2009,58.6,6.1,11.4,3.5,2.2,18.2,100
1,Alaska,2009,56.7,4.2,10.1,0.0,5.6,22.7,100
2,Arizona,2009,53.8,6.9,15.5,2.0,1.7,20.1,100
3,Arkansas,2009,54.1,5.8,11.8,3.6,1.5,23.1,100
4,California,2009,55.4,8.6,12.2,1.3,0.9,21.6,100

In [3]:
# Reading the csv file into a pandas DataFrame
MMR_by_Race = pd.read_csv('../output_file/MMR_by_race_ML.csv')
MMR_by_Race.head()

,state,state_code,year,race,race_code,hispanic_origin,hispanic_origin_code,total_births,births_by_race,total_deaths,deaths_by_race,total_mmr,mmr_by_race,total_population,population_by_race
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,59151,17989,35,14,59.17,77.83,2507714,0
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,59151,35319,35,18,59.17,50.96,2507714,0
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,58941,18354,41,25,69.56,136.21,2514911,704201
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,58941,34784,41,15,69.56,43.12,2514911,1655605
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,57761,17939,31,14,53.67,78.04,2523756,706754

In [4]:
# Checking dataframe rows
US_Ins.count()

location     583
year         583
employer     583
non_group    583
medicaid     583
medicare     583
military     583
uninsured    583
total        583
dtype: int64

In [5]:
# Checking dataframe rows
MMR_by_Race.count()

state                   388
state_code              388
year                    388
race                    388
race_code               388
hispanic_origin         388
hispanic_origin_code    388
total_births            388
births_by_race          388
total_deaths            388
deaths_by_race          388
total_mmr               388
mmr_by_race             388
total_population        388
population_by_race      388
dtype: int64

### Create new dataframes with select columns

In [6]:
# Filtering dataset by selecting columns needed
US_Ins_subset = US_Ins[["location", "year", "employer", "non_group", "medicaid", "medicare", "military", "uninsured"]]
US_Ins_subset.head()

,location,year,employer,non_group,medicaid,medicare,military,uninsured
0,Alabama,2009,58.6,6.1,11.4,3.5,2.2,18.2
1,Alaska,2009,56.7,4.2,10.1,0.0,5.6,22.7
2,Arizona,2009,53.8,6.9,15.5,2.0,1.7,20.1
3,Arkansas,2009,54.1,5.8,11.8,3.6,1.5,23.1
4,California,2009,55.4,8.6,12.2,1.3,0.9,21.6

In [7]:
# Renaming the subset dataframe column from location to state to join on
US_Ins_df = US_Ins_subset.rename(columns={'location': 'state'})
US_Ins_df.head()

,state,year,employer,non_group,medicaid,medicare,military,uninsured
0,Alabama,2009,58.6,6.1,11.4,3.5,2.2,18.2
1,Alaska,2009,56.7,4.2,10.1,0.0,5.6,22.7
2,Arizona,2009,53.8,6.9,15.5,2.0,1.7,20.1
3,Arkansas,2009,54.1,5.8,11.8,3.6,1.5,23.1
4,California,2009,55.4,8.6,12.2,1.3,0.9,21.6

### Combine Dataframes on `state` and `year` Columns

In [8]:
# Combining the dataframes on `state` and `year` columns
combined_df1 = pd.merge(MMR_by_Race, US_Ins_df, how='left', left_on=['state', 'year'], right_on=['state', 'year']).dropna()
combined_df1

,state,state_code,year,race,race_code,hispanic_origin,hispanic_origin_code,total_births,births_by_race,total_deaths,...,total_mmr,mmr_by_race,total_population,population_by_race,employer,non_group,medicaid,medicare,military,uninsured
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,59151,17989,35,...,59.17,77.83,2507714,0,58.7,9.1,13.8,3.8,1.9,12.7
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,59151,35319,35,...,59.17,50.96,2507714,0,58.7,9.1,13.8,3.8,1.9,12.7
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,58941,18354,41,...,69.56,136.21,2514911,704201,58.0,8.6,13.6,4.2,2.3,13.3
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,58941,34784,41,...,69.56,43.12,2514911,1655605,58.0,8.6,13.6,4.2,2.3,13.3
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,57761,17939,31,...,53.67,78.04,2523756,706754,58.8,7.5,13.7,3.6,2.5,13.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,West Virginia,54,2018,White,2106-3,Not Hispanic or Latino,2186-2,18248,16785,10,...,54.80,59.58,911492,853052,56.0,4.6,26.6,3.7,1.1,8.0
384,Wisconsin,55,2009,White,2106-3,Not Hispanic or Latino,2186-2,70843,52462,13,...,18.35,19.06,2856103,0,68.0,5.5,14.3,1.5,0.5,10.1
385,Wisconsin,55,2011,White,2106-3,Not Hispanic or Latino,2186-2,67810,50500,15,...,22.12,19.80,2875675,0,65.7,5.8,15.7,1.5,0.7,10.6
386,Wisconsin,55,2014,White,2106-3,Not Hispanic or Latino,2186-2,67161,49440,16,...,23.82,26.29,2898057,2409803,65.8,8.2,15.0,1.7,0.8,8.6
387,Wisconsin,55,2015,White,2106-3,Not Hispanic or Latino,2186-2,67041,49024,11,...,16.41,20.40,2903737,0,67.5,8.9,15.0,1.6,0.7,6.4

In [9]:
combined_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 388 non-null    object
 1   state_code            388 non-null    int64
 2   year                  388 non-null    int64
 3   race                  388 non-null    object
 4   race_code             388 non-null    object
 5   hispanic_origin       388 non-null    object
 6   hispanic_origin_code  388 non-null    object
 7   total_births          388 non-null    int64
 8   births_by_race        388 non-null    int64
 9   total_deaths          388 non-null    int64
 10  deaths_by_race        388 non-null    int64
 11  total_mmr             388 non-null    float64
 12  mmr_by_race           388 non-null    float64
 13  total_population      388 non-null    int64
 14  population_by_race    388 non-null    int64
 15  employer              388 non-null    float64
 16  non_group             388 non-null    float64
 17  medicaid              388 non-null    float64
 18  medicare              388 non-null    float64
 19  military              388 non-null    float64
 20  uninsured             388 non-null    float64
dtypes: float64(8), int64(8), object(5)
memory usage: 66.7+ KB